<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html class="no-js" lang="en"> <!--<![endif]-->
<html lang="en">
<head>
<!-- Basic info
================================================== -->
<meta charset="utf-8">
<title>Difference Amplifier </title>
<meta name="description" content="Bigdata Project">
<!-- favicons
================================================== -->
<link rel="icon" type="image/png" href="favicon.png">
<!--- CSS
================================================== -->
<link rel="stylesheet" href="../../static/css/main.css">

<!-- mobile specific metas
================================================== -->
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="bg-1">

<header>
	<div class="row">
		<div class="main-title-1"><b>Difference Amplifier</b> <img src="../../static/img/logo1.png" alt="logo" style="width: 3.5rem;height:3.5rem;"> </div>
		<div class="item row">
			<a href="index.html"><b>home</b></a>
			<a href="mailto: siso8575@colorado.edu" target="_top"><b>contact us</b></a>
		</div>
	</div>
</header>

<main>
	<p>To obtain a comparison, please input two keywords below. </p>
	<p>(E.g. "Coke" and "Pepsi".) </p>
	<br>
	<form id="form1" action=secondpage method="post" style="text-align: center; font-size: 1.8rem;">
		{% csrf_token%}
		The First Keyword:<br>
		<input type="text" name="key1" value="Coke">
		<br><br>
		The Second Keyword:<br>
		<input type="text" name="key2" value="Pepsi">
		<br><br>
		<input type="submit" value="Generate the comparison">
		</form>
</main>

<footer>
	<p>Copyright © 2018-2019 FantasticFive </p>
	<p> - All  rights reserved. </p>
</footer>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<!-- JavaScript-->


<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
				var key1 = $("input[name='key1']").val();
				var key2 = $("input[name='key2']").val();
				var formdata = new FormData();

				formdata.append("key1",key1);
				formdata.append("key2",key2);


        function login() {
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "secondpage" ,//url
                data: formdata,
                success: function (result) {
                    console.log(result);
                    if (result.resultCode == 200) {
                        alert("SUCCESS");
                    }
                    ;
                },
                error : function() {
                    alert("error");
                }
            });
        }
</script>
</body>

</html>
